.hero-section {
  position: relative;
}

.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#FAF9F6
}

.hero-section > * {
  z-index: 1;
}



.hola {
  color: #6a0dad; /* A lighter shade for "Hola!" */
  
}

.colorful-name {
  color: #ff1493; /* Original color for "Tarun Jawla" */
  position: relative;
  display: inline-block;
  transition: color 0.3s ease;
}

.colorful-name:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 20, 147, 0.3); /* Background color for the glow */
  border-radius: 4px;
  filter: blur(8px);
  z-index: -1;
  transition: all 0.3s ease;
}

