.service-card {
  padding: 2rem;
  margin: 1rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  max-width: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  background: white;
}

.service-card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.service-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  transition: color 0.3s ease-in-out;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
