.projects-section {
  padding: 40px 0;
}

.glide__slides {
  display: flex;
}

.project-card {
  padding: 20px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.glide__arrows {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.glide__arrow {
  background-color: transparent;
  border: 2px solid #333;
  color: #333;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  margin: 0 10px;
  font-size: 1.5rem;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.glide__arrow:hover {
  background-color: #0156ff;
  color: #fff;
  border-color: #333;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
