/* Navbar.css */

.nav-link {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease-in-out;
  font-weight:700;
  margin: 0 1rem;
  position: relative;
  text-transform: uppercase;
  
  
}

/* Hover effect for all links except "My Portfolio" */
.nav-link:not(.my-portfolio)::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: transparent; /* Remove underline effect */
  position: absolute;
  bottom: -2px;
  left: 0;
  transition: width 0.3s ease-in-out;
  
}

.nav-link:hover {
  color:  #6a0dad; /* Change text color on hover */
}

.my-portfolio {
  color: black;
}

.my-portfolio:hover {
  color: #6a0dad;
}

.my-portfolio:hover::after {
  content: none;
}

.nav-link {
  cursor: pointer;
}
.navbarContainer {
  position: sticky;
  top: 0;
  z-index: 999; /* Ensure the navbar is on top of other elements */
  background-color: rgb(255, 255, 255); /* Change this to your desired background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
}
.dropShadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}