.rolling-ball-container {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 100px; /* Increased height */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
  }
  
  .rolling-ball-rod {
    width: 60%; /* Reduced width */
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    position: relative;
    z-index: 1;
  }
  
  .rolling-ball-wrapper {
    position: absolute;
    bottom: 18px; /* Adjusted position */
    left: 20%; /* Adjusted position */
    width: 60%; /* Reduced width */
    height: 80px; /* Increased height */
    display: flex;
    justify-content: flex-start;
    animation: roll 15s linear infinite alternate;
    z-index: 2;
    overflow: hidden;
  }
  
  .rolling-ball {
    width: 80px; /* Increased size */
    height: 80px; /* Increased size */
    border-radius: 50%;
    background-color: #007bff;
  }
  
  @keyframes roll {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(calc(60% - 80px)); /* Adjusted for larger ball size and reduced width */
    }
    100% {
      transform: translateX(0);
    }
  }