/* Override body cursor setting to none */
body {
  cursor: none;
}

/* Styles for hobbies section */
.hobbies-section {
  background-color: #f7f7f7;
  padding: 40px 20px;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23ff69b4" width="36" height="36"><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/></svg>'), auto !important;
  cursor: -webkit-image-set(url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23ff69b4" width="48" height="48"><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/></svg>') 1x, url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23ff69b4" width="96" height="96"><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/></svg>') 2x, auto) !important;
  z-index: 10000; /* Ensure it's on top */
}

/* Additional styling for hobbies section */
.hobbies-heading {
  font-family: 'Poppins', sans-serif;
  color: #333;
}

.hobbies-container {
  margin-top: 5px;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 5px;
  
}

.hobbies-track {
  margin-bottom: 10px;
  display: flex;
  width: max-content;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.left-to-right {
  animation-name: flow-left-to-right;
}

.right-to-left {
  animation-name: flow-right-to-left;
}

.hobby-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 200px;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hobby-badge:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hobby-badge p {
  margin: 0;
}

/* Animation for flowing badges */
@keyframes flow-left-to-right {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes flow-right-to-left {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}