.about-section {
  margin-top: 5rem;
}


.no-select {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
}

.about-card {
  animation: slide-in-left  1s ease-out;
}
.skill-card {
  animation: slide-in-top  1s ease-out;
}
.about-card, .skill-card, .education-card {
  transition: box-shadow 0.3s ease-in-out;
}

.about-card:hover, .skill-card:hover, .education-card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.skill-item {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.skill-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.education-card {
  animation: slide-in-bottom 1s ease-out;
}

.card-content {
  transition: transform 0.3s ease-in-out;
}

.card-content:hover {
  transform: translateY(-10px);
}

.skill-item {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease-in-out;
}

.skill-item:hover {
  background-color: #e0e0e0;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Added styles to differentiate heading sizes */
h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
