/* ContactForm.css */

.contact-form {
    padding: 1.5rem;
    border: 1px solid #cbd5e0;
    border-radius: 0.5rem;
    max-width: 500px;
    margin: 0 auto;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .contact-form:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .form-control {
    margin-bottom: 1rem;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .input-group {
    display: flex;
    align-items: center;
  }
  
  .input-group-icon {
    margin-right: 0.5rem;
  }
  
  .select-input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #cbd5e0;
  }
  
  .submit-button {
    width: 100%;
    margin-top: 1rem;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .submit-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .no-select {
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
  }
  