.cookie-consent-popup {
  font-family: 'Arial', sans-serif;
}

.cookie-heading-container {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.cookie-icon-container {
  margin-right: 16px;
}

.modal-heading {
  font-size: 28px;
  color: #333;
  font-weight: bold;
  margin: 0;
}


.modal-text {
  font-size: 18px;
  color: #666;
  margin-bottom: 24px;
}

.button-container {
  display: flex;
  flex-direction: column; /* Align buttons vertically */
  align-items: center;
}

.cookie-consent-popup .ant-btn {
  border-radius: 8px;
  font-size: 18px;
  padding: 12px 24px; /* Reduce padding */
  margin: 8px 0; /* Adjust margin */
  width: 240px; /* Increase button width */
  display: flex;
  justify-content: center;
  align-items: center;
}

.cookie-consent-popup .ant-btn-primary {
  background-color: #007bff; /* Solid blue background color for accept button */
  border: none; /* Remove border */
  color: #fff; /* White text color */
  transition: transform 0.3s, box-shadow 0.3s;
}

.cookie-consent-popup .ant-btn-danger {
  background-color: transparent; /* Transparent background */
  color: #007bff; /* Blue text color */
  border: 2px solid #007bff; /* Blue border */
  transition: transform 0.3s, box-shadow 0.3s;
}

.cookie-consent-popup .ant-btn-primary:hover,
.cookie-consent-popup .ant-btn-danger:hover {
  transform: translateY(-2px); /* Add subtle hover effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow on hover */
}


.cookie-icon {
  font-size: 72px; /* Increase icon size */
  color: #ffcc00;
}
